
.wpdp-presentation{
  position:relative;
}

.wpdp .con{
  position: fixed;
  left:-100%;
  border: 1px solid #cdcdcd;
  transition: all .5s ease;
  background: #eaeaea;
  z-index: 99;
  width: 300px;
  padding: 20px;
  margin-top: -35px;
}
.filter_back{
  cursor:pointer;
}
.details-control span{
  cursor: pointer;
  background: #009b28;
  color: #fff;
  padding: 1px 7px;
}
.wpdp .filter{
  position: fixed;
  border: 1px solid #acacac;
  box-shadow: 0px 1px #acacac;
  transition: all .5s ease;
  z-index: 98;
  left: 10px;
  background: #fff;
  padding: 4px 7px
}
.wpdp .filter:hover{
  background:#2f2f2f;
}
.wpdp .filter:hover .dashicons{
  color:#fff;
}
.wpdp .filter .dashicons{
  color: #000;
}
#wpdp_map{
  width:100%;
  height: 500px;
}

#wpdp_exceltables{
  display:none;
}

#new_wpdp_exceltables{
  width:100%;
}

.wpdp .grp{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 30px;
}
#wpdp_datatable_filter{
  display:none;
}
.wpdp_more_info{
  margin:0;
  list-style: none;
}
.wpdp_more_info li{
  padding: 8px 0px;
  border-bottom: 1px solid #c8c8c8;
}
.wpdp_more_info li:last-child{
  border:none;
}

.wpdp .grp label{
  font-size: 18px;
  font-weight: 500;
}

.wpdp .filter_data select,.wpdp tfoot select{
  width: 100%;
}

.wpdp .dates{
  display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    margin-bottom:10px;
}
.wpdp .dates label{
  font-size:15px;
}