
.wpdp-presentation{
  position:relative;
}
.wpdp{
  position: relative;
}
.wpdp .con{
  position: absolute;
  border: 1px solid #cdcdcd;
  transition: all .5s ease;
  background: #eaeaea;
  z-index: 99;
  width: 300px;
  padding: 20px;
  margin-top: -35px;
}
.filter_back{
  cursor:pointer;
}
.wpdp .filter{
  position: absolute;
  z-index: 98;
  top: 10px;
  left: 10px;
  background: #fff;
  padding: 4px 7px
}
.wpdp .filter .dashicons{
  color: #000;
}
#wpdp_map{
  width:100%;
  height: 500px;
}

#wpdp_exceltables{
  display:none;
}

#new_wpdp_exceltables{
  width:100%;
}

.wpdp .grp{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 30px;
}

.wpdp .grp label{
  font-size: 18px;
  font-weight: 500;
}

.wpdp .filter_data select{
  width: 100%;
}

.wpdp .dates{
  display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    margin-bottom:10px;
}
.wpdp .dates label{
  font-size:15px;
}